<!-- Footer -->
<table cellpadding="0" cellspacing="0" class="al-footer" align="center">
  <tbody>
    <tr>
      <td class="al-p40t" align="center">
        <table class="al-footer-body" width="640" cellspacing="0" cellpadding="0" bgcolor="#efefef" align="center">
          <tbody>
            <tr>
              <td class="al-p30t al-p30b al-p20r al-p20l" align="left">
                <table width="100%" cellspacing="0" cellpadding="0" style="border-top: 1px solid #efefef">
                  <tbody>
                    <tr>
                      <td class="al-p40t" valign="top" align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td class="al-p25b al-p15t" align="left">
                                <p>
                                  To follow the platform's progress, join our
                                  Discord channels, or spread the word on X.
                                </p>
                              </td>
                            </tr>
                            <tr>
                              <td class="al-p15b" align="left">
                                <table class="al-table-not-adapt al-social" cellspacing="0" cellpadding="0"
                                  style="font-size: 0">
                                  <tbody>
                                    <tr>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://discord.com/invite/yX3gTw36C4" target="_blank">
                                          <img src="https://apillon.io/images/email/discord.jpg" title="discord"
                                            alt="discord" width="132" height="48" style="
                                              display: inline;
                                              vertical-align: sub;
                                            " />
                                        </a>
                                      </td>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://x.com/Apillon" target="_blank">
                                          <img src="https://apillon.io/images/email/x_logo.jpg" 
                                            title="X" alt="X" width="28" height="28" 
                                            style="display: inline-block;background-color: white;padding: 10px;" />
                                        </a>
                                      </td>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://t.me/Apillon" target="_blank">
                                          <img src="https://apillon.io/images/email/telegram.jpg" title="telegram"
                                            alt="telegram" width="48" height="48" />
                                        </a>
                                      </td>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://github.com/Apillon" target="_blank">
                                          <img src="https://apillon.io/images/email/github.jpg" title="github"
                                            alt="github" width="48" height="48" />
                                        </a>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://blog.apillon.io" target="_blank">
                                          <img src="https://apillon.io/images/email/medium.jpg" 
                                            title="Medium" alt="medium" width="28" height="28" 
                                            style="display: inline-block;background-color: white;padding: 10px;"  />
                                        </a>
                                      </td>
                                      <td class="al-p5r" valign="top" align="center">
                                        <a href="https://sg.linkedin.com/company/apillon" target="_blank">
                                          <img src="https://apillon.io/images/email/linkedin.jpg" title="linkedin"
                                            alt="linkedin" width="48" height="48" />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td align="left" class="al-p10t"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<!-- Socket -->
<table class="al-content" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td align="center">
        <table class="al-content-body" style="background-color: transparent" width="640" cellspacing="0" cellpadding="0"
          align="center">
          <tbody>
            <tr>
              <td class="al-p20r al-p20l" align="left">
                <table width="100%" cellspacing="0" cellpadding="0" style="border-top: 1px solid #efefef">
                  <tbody>
                    <tr>
                      <td class="al-p30t al-p30b" width="600" valign="top" align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td class="al-p15t al-infoblock" align="left">
                                <p style="color: #141721; font-size: 14px">
                                  You received this email because
                                  you signed up on on the Apillon platform
                                  <a href="https://apillon.io/" target="_blank">apillon.io</a>.
                                </p>
                                <br />
                                <p style="color: #141721; font-size: 14px; overflow: hidden">
                                  <span style="float: left">
                                    <a href="https://apillon.io/legal-disclaimer/" target="_blank">Terms and
                                      Conditions</a>
                                  </span>
                                  <span style="float: right; margin-right: 80px">
                                    <a href="https://apillon.io/privacy-policy/" target="_blank">Privacy
                                      Policy</a>
                                  </span>
                                </p>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>